# Import the libraries that are necesaries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import getpass  # To get the password without showing the input
from sqlalchemy import create_engine, text
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import nltk
from nltk.corpus import stopwords
from pycaret.regression import *

Connect to MySQL

In [2]:
password = getpass.getpass()
user = 'root'
database_name = 'steam_games'
connection_string = f'mysql+pymysql://{user}:' + password + '@localhost/' + database_name
engine = create_engine(connection_string)

### Read the CSVs

In [3]:
# # Specify the directory containing the CSV files
# directory_path = '../data/clean/'

# # Specify the order of CSV files
# csv_order = ['game.csv', 'languages.csv', 'platform.csv', 'metacritic.csv', 'user_feedback.csv',
#              'playtime.csv', 'development.csv', 'categorization.csv', 'media.csv']

# # Initialize an empty DataFrame to store the merged result
# game_data = pd.DataFrame()

# # Loop through each CSV file, read it into a DataFrame, and merge it with the existing DataFrame
# for csv_file in csv_order:
#     file_path = os.path.join(directory_path, csv_file)
#     df = pd.read_csv(file_path)

#     # Merge based on the 'appid' column
#     if game_data.empty:
#         game_data = df
#     else:
#         game_data = pd.merge(game_data, df, on='appid', how='outer')

Normalize the dataset

In [4]:
# # Download NLTK stopwords data
# nltk.download('stopwords')

# # Columns to convert to lists
# columns_to_convert = ['supported_languages', 'full_audio_languages', 'categories', 'genres', 'tags']

# # Create a copy of the original DataFrame
# df_normalized = game_data.copy()

# # Fill NaN values with an empty string
# df_normalized[columns_to_convert] = df_normalized[columns_to_convert].fillna('')

# # Normalize numerical features using StandardScaler
# numerical_columns = df_normalized.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
# scaler = StandardScaler()
# df_normalized[numerical_columns] = scaler.fit_transform(df_normalized[numerical_columns])

# # One-hot encode categorical features
# categorical_columns = df_normalized.select_dtypes(include=['bool']).columns.difference(['appid'])
# df_normalized = pd.get_dummies(df_normalized, columns=categorical_columns, drop_first=True)

# # Use CountVectorizer to convert text columns to bag-of-words representation
# count_vectorizer = CountVectorizer(stop_words=stopwords.words('english'))  # Use English stopwords
# for column in columns_to_convert:
#     column_bow = count_vectorizer.fit_transform(df_normalized[column])
#     df_normalized = pd.concat([df_normalized, pd.DataFrame(column_bow.toarray(), columns=count_vectorizer.get_feature_names_out([column]))], axis=1)
#     df_normalized.drop(column, axis=1, inplace=True)

# # Convert 'appid' column to integers
# df_normalized['appid'] = df_normalized['appid'].astype(int)

# df_normalized

# 1. Game Popularity vs. Features:
- *Theory*: Peak concurrent users (peak_ccu) of games are generally higher when their estimated owners are higher.
- *Analysis*: Peak_ccu and estimated owners' correlation with one another.

In [5]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT
                appid,
                estimated_owners,
                peak_ccu
            FROM
                game;'''
    query = text(txt)
    result = connection.execute(query)
    game_df = pd.DataFrame(result.all())

game_df

         appid  estimated_owners  peak_ccu
0           10        15000000.0   13230.0
1           20         7500000.0     110.0
2           30         7500000.0     106.0
3           40         7500000.0       2.0
4           50         7500000.0     120.0
...        ...               ...       ...
85098  2760980               0.0       0.0
85099  2761170               0.0       0.0
85100  2763480               0.0       0.0
85101  2764930               0.0       0.0
85102  2765800               0.0       0.0

[85103 rows x 3 columns]

In [6]:
# Fill NaN values with an empty string (if needed)
game_df = game_df.fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = game_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
game_df[numerical_columns] = scaler.fit_transform(game_df[numerical_columns])

In [7]:
# Initialize PyCaret
reg_setup = setup(
    data=game_df,
    target='estimated_owners',
    train_size=0.8,
    session_id=42,
    numeric_features=['peak_ccu']
)

# Compare different regression models
reg_models = compare_models()

In [8]:
# Create a Gradient Boosting Regressor model
gbm_model = create_model('gbr')

# Tune the Gradient Boosting Regressor model
tuned_gbm_model = tune_model(gbm_model)

# Evaluate the tuned model
evaluate_model(tuned_gbm_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [9]:
# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(game_df[['estimated_owners']], game_df['peak_ccu'], test_size=0.2, random_state=42)

# # Fit a linear regression model on the training set
# model = LinearRegression().fit(X_train, y_train)

# # Predict on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {model.intercept_}, Coefficient: {model.coef_}')

# Scatter plot of actual vs predicted values
# sns.scatterplot(x=X_test['estimated_owners'], y=y_test, label='Actual')
# sns.scatterplot(x=X_test['estimated_owners'], y=y_pred, label='Predicted')
# plt.title('Actual vs Predicted Peak Concurrent Users')
# plt.xlabel('Estimated Owners')
# plt.ylabel('Peak Concurrent Users')
# plt.legend()
# plt.show()

# Regression plot
# sns.regplot(x=X_test['estimated_owners'], y=y_test, scatter_kws={'alpha':0.3}, label='Actual')
# sns.regplot(x=X_test['estimated_owners'], y=y_pred, scatter_kws={'alpha':0}, line_kws={'color':'red'}, label='Regression Line')
# plt.title('Regression Plot for Peak Concurrent Users')
# plt.xlabel('Estimated Owners')
# plt.ylabel('Peak Concurrent Users')
# plt.legend()
# plt.show()

# 2. Impact of Platforms on Game Adoption:
- *Theory*: There are more players in games that are accessible on several platforms (Windows, Mac, and Linux).
- *Analysis*: Examine the approximate ownership of games that are accessible across several platforms.

In [10]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT 
                game.estimated_owners,
                game.peak_ccu, 
                platform.windows, 
                platform.mac, 
                platform.linux
            FROM game
            JOIN platform ON game.appid = platform.appid;'''
    query = text(txt)
    result = connection.execute(query)
    platform_df = pd.DataFrame(result.all())

platform_df

       estimated_owners  peak_ccu  windows  mac  linux
0            15000000.0   13230.0        1    1      1
1             7500000.0     110.0        1    1      1
2             7500000.0     106.0        1    1      1
3             7500000.0       2.0        1    1      1
4             7500000.0     120.0        1    1      1
...                 ...       ...      ...  ...    ...
85098               0.0       0.0        1    0      0
85099               0.0       0.0        1    0      0
85100               0.0       0.0        1    0      0
85101               0.0       0.0        1    0      0
85102               0.0       0.0        1    0      0

[85103 rows x 5 columns]

In [11]:
# Normalize numerical features using StandardScaler
numerical_columns = platform_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
platform_df[numerical_columns] = scaler.fit_transform(platform_df[numerical_columns])

# Concatenate 'windows', 'mac', and 'linux' to create a single feature 'platform'
platform_df['platform'] = platform_df['windows'] + platform_df['mac'] + platform_df['linux']

In [12]:
# Initialize PyCaret
reg_setup = setup(
    data=platform_df,
    target='estimated_owners',
    session_id=42,
    train_size=0.8,
    numeric_features=['peak_ccu']
)

# Compare different regression models
reg_models = compare_models()

In [13]:
# Create a Linear Regression model
lr_model = create_model('lr')

# Evaluate the model
evaluate_model(lr_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [14]:
# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(platform_df[['platform']], platform_df['estimated_owners'], test_size=0.2, random_state=42)

# # Fit a linear regression model
# linear_model = LinearRegression()
# linear_model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = linear_model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {linear_model.intercept_}, Coefficient: {linear_model.coef_}')

# # Scatter plot of actual vs predicted values
# plt.scatter(X_test['platform'], y_test, label='Actual')
# plt.scatter(X_test['platform'], y_pred, label='Predicted')
# plt.title('Actual vs Predicted Estimated Owners')
# plt.xlabel('Platform')
# plt.ylabel('Estimated Owners')
# plt.legend()
# plt.show()

# # Regression plot
# sns.regplot(x=X_test['platform'], y=y_test, scatter_kws={'alpha': 0.3}, label='Actual')
# sns.regplot(x=X_test['platform'], y=y_pred, scatter_kws={'alpha': 0}, line_kws={'color': 'red'}, label='Regression Line')
# plt.title('Regression Plot for Estimated Owners by Combined Platform')
# plt.xlabel('Combined Platform')
# plt.ylabel('Estimated Owners')
# plt.legend()
# plt.show()

# 3. Metacritic Score and User Feedback:
- *Theory*: The user and Metacritic scores are positively correlated.
- *Analysis*: Comparison of the user_score and metacritic_score correlation.

In [15]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT
                game.appid,
                game.estimated_owners,
                metacritic.metacritic_score,
                user_feedback.user_score
            FROM game
            JOIN metacritic ON game.appid = metacritic.appid
            JOIN user_feedback ON game.appid = user_feedback.appid;'''
    query = text(txt)
    result = connection.execute(query)
    user_score_df = pd.DataFrame(result.all())

user_score_df

         appid  estimated_owners  metacritic_score  user_score
0           10        15000000.0              88.0         0.0
1           20         7500000.0               0.0         0.0
2           30         7500000.0              79.0         0.0
3           40         7500000.0               0.0         0.0
4           50         7500000.0               0.0         0.0
...        ...               ...               ...         ...
85098  2760980               0.0               0.0         0.0
85099  2761170               0.0               0.0         0.0
85100  2763480               0.0               0.0         0.0
85101  2764930               0.0               0.0         0.0
85102  2765800               0.0               0.0         0.0

[85103 rows x 4 columns]

In [16]:
# Fill NaN values (if needed)
user_score_df = user_score_df.fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = user_score_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
user_score_df[numerical_columns] = scaler.fit_transform(user_score_df[numerical_columns])

In [17]:
# Initialize PyCaret for regression
reg_setup = setup(
    data=user_score_df,
    target='estimated_owners',
    session_id=42,
    numeric_features=['metacritic_score', 'user_score']
)

# Compare different regression models
reg_models = compare_models()

In [18]:
# Create a Linear Regression model
lr_model = create_model('lr')

# Evaluate the model
evaluate_model(lr_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [19]:
# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(df_normalized[['estimated_owners', 'metacritic_score', 'user_score']], df_normalized['peak_ccu'], test_size=0.2, random_state=42)

# # Fit a linear regression model
# model_rgr = LinearRegression().fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = model_rgr.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {model_rgr.intercept_}, Coefficients: {model_rgr.coef_}')

# # Scatter plot of actual vs predicted values
# plt.scatter(X_test['estimated_owners'], y_test, label='Actual')
# plt.scatter(X_test['estimated_owners'], y_pred, label='Predicted')
# plt.title('Actual vs Predicted Estimated Owners')
# plt.xlabel('Estimated Owners')
# plt.ylabel('User Score')
# plt.legend()
# plt.show()

# # Regression plot
# sns.regplot(x=X_test['estimated_owners'], y=y_test, scatter_kws={'alpha': 0.3}, label='Actual')
# sns.regplot(x=X_test['estimated_owners'], y=y_pred, scatter_kws={'alpha': 0}, line_kws={'color': 'red'}, label='Regression Line')
# plt.title('Regression Plot for Estimated Owners vs User Score')
# plt.xlabel('Estimated Owners')
# plt.ylabel('User Score')
# plt.legend()
# plt.show()

# 4. Effect of Game Features on Reviews:
- *Theory*: There are more achievements in games that have received favorable reviews.
- *Analysis*: Examine the typical quantity of achievements in games that have both favorable and unfavorable evaluations.

In [20]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT
                positive,
                negative,
                achievements
            FROM user_feedback;'''
    query = text(txt)
    result = connection.execute(query)
    feedback_df = pd.DataFrame(result.all())

feedback_df

       positive  negative  achievements
0      198387.0    5135.0           0.0
1        5677.0     923.0           0.0
2        5179.0     566.0           0.0
3        1929.0     428.0           0.0
4       14333.0     718.0           0.0
...         ...       ...           ...
85098       0.0       0.0           0.0
85099       0.0       0.0           0.0
85100       0.0       0.0           0.0
85101       0.0       0.0           0.0
85102       0.0       0.0           0.0

[85103 rows x 3 columns]

In [21]:
# Fill NaN values with an empty string (if needed)
feedback_df = feedback_df.fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = feedback_df.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
feedback_df[numerical_columns] = scaler.fit_transform(feedback_df[numerical_columns])

In [22]:
# Initialize PyCaret for regression
reg_setup = setup(
    data=feedback_df,
    target='positive',  # Assuming 'positive' is the target variable
    session_id=42
)

# Compare different regression models
reg_models = compare_models()

In [23]:
# Create a K Neighbors Regressor model
knn_model = create_model('knn')

# Evaluate the model
evaluate_model(knn_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [24]:
# # Split the data into features (X) and target variable (y)
# X = feedback_df[['positive', 'negative']]
# y = feedback_df['achievements']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Fit a linear regression model
# model = LinearRegression()
# model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {model.intercept_}, Coefficients: {model.coef_}')

# # Scatter plot of actual vs predicted values
# plt.scatter(X_test['positive'], y_test, label='Actual')
# plt.scatter(X_test['positive'], y_pred, label='Predicted')
# plt.title('Actual vs Predicted Achievements')
# plt.xlabel('Positive Reviews')
# plt.ylabel('Achievements')
# plt.legend()
# plt.show()

# # Regression plot
# sns.regplot(x=X_test['positive'], y=y_test, scatter_kws={'alpha': 0.3}, label='Actual')
# sns.regplot(x=X_test['positive'], y=y_pred, scatter_kws={'alpha': 0}, line_kws={'color': 'red'}, label='Regression Line')
# plt.title('Regression Plot for Actual vs Predicted Achievements')
# plt.xlabel('Positive Reviews')
# plt.ylabel('Achievements')
# plt.legend()
# plt.show()

# 5. Playtime Patterns:
- *Theory*: Games with longer median playtimes also have longer average playtimes.
- *Analysis*: Comparison of average_playtime_forever and median_playtime_forever by correlation analysis.

In [25]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT
                appid,
                average_playtime_forever,
                median_playtime_forever
            FROM
                playtime;'''
    query = text(txt)
    result = connection.execute(query)
    playtime_df = pd.DataFrame(result.all())

playtime_df

         appid  average_playtime_forever  median_playtime_forever
0           10                   10524.0                    228.0
1           20                     143.0                     23.0
2           30                    1397.0                     27.0
3           40                     945.0                     10.0
4           50                     214.0                     66.0
...        ...                       ...                      ...
85098  2760980                       0.0                      0.0
85099  2761170                       0.0                      0.0
85100  2763480                       0.0                      0.0
85101  2764930                       0.0                      0.0
85102  2765800                       0.0                      0.0

[85103 rows x 3 columns]

In [26]:
# Fill NaN values with an empty string (if needed)
playtime_df = playtime_df.fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = playtime_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
playtime_df[numerical_columns] = scaler.fit_transform(playtime_df[numerical_columns])

In [27]:
# Initialize PyCaret for regression
reg_setup = setup(
    data=playtime_df,
    target='average_playtime_forever',  # Assuming 'average_playtime_forever' is the target variable
    session_id=42
)

# Compare different regression models
reg_models = compare_models()

In [28]:
# Create a Linear Regression model
lr_model = create_model('lr')

# Evaluate the model
evaluate_model(lr_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [29]:
# # Split the data into features (X) and target variable (y)
# X = playtime_df[['average_playtime_forever']]
# y = playtime_df['median_playtime_forever']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Fit a linear regression model
# model = LinearRegression()
# model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {model.intercept_}, Coefficient: {model.coef_}')

# # Regression plot
# plt.scatter(X_test, y_test, label='Actual')
# plt.scatter(X_test, y_pred, label='Predicted')
# plt.title('Actual vs Predicted Median Playtime')
# plt.xlabel('Average Playtime Forever')
# plt.ylabel('Median Playtime Forever')
# plt.legend()
# plt.show()

# # Regression plot
# sns.regplot(x=X_test, y=y_test, scatter_kws={'alpha': 0.3}, label='Actual')
# sns.regplot(x=X_test, y=y_pred, scatter_kws={'alpha': 0}, line_kws={'color': 'red'}, label='Regression Line')
# plt.title('Regression Plot for Actual vs Predicted Median Playtime')
# plt.xlabel('Average Playtime Forever')
# plt.ylabel('Median Playtime Forever')
# plt.legend()
# plt.show()

# 6. Price Influence
- *Theory*: User scores for games are typically higher when they are more expensive.
- *Analysis*: Examine average user scores for various price ranges of games.

In [30]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT 
                game.appid, 
                game.price, 
                user_feedback.user_score
            FROM game
            JOIN user_feedback ON game.appid = user_feedback.appid;'''
    query = text(txt)
    result = connection.execute(query)
    price_df = pd.DataFrame(result.all())

price_df

         appid  price  user_score
0           10   9.99         0.0
1           20   4.99         0.0
2           30   4.99         0.0
3           40   4.99         0.0
4           50   4.99         0.0
...        ...    ...         ...
85098  2760980   0.00         0.0
85099  2761170   0.00         0.0
85100  2763480   0.00         0.0
85101  2764930   0.00         0.0
85102  2765800   0.00         0.0

[85103 rows x 3 columns]

In [31]:
# Fill NaN values with an empty string (if needed)
price_df = price_df.fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = price_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
price_df[['price', 'user_score']] = scaler.fit_transform(price_df[['price', 'user_score']])

In [32]:
# Initialize PyCaret for regression
reg_setup = setup(
    data=price_df,
    target='user_score',  # Assuming 'user_score' is the target variable
    session_id=42
)

# Compare different regression models
reg_models = compare_models()

In [33]:
# Create a Lasso Regression model
lasso_model = create_model('lasso')

# Evaluate the Lasso Regression model
evaluate_model(lasso_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [34]:
# # Split the data into features (X) and target variable (y)
# X = price_df[['price']]
# y = price_df['user_score']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Fit a linear regression model
# model = LinearRegression()
# model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = model.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f'Mean Squared Error: {mse}')
# print(f'R-squared: {r2}')

# # Print the coefficients
# print(f'Intercept: {model.intercept_}, Coefficient: {model.coef_}')

# # Regression plot
# plt.scatter(X_test, y_test, label='Actual')
# plt.scatter(X_test, y_pred, label='Predicted')
# plt.title('Actual vs Predicted User Scores by Price')
# plt.xlabel('Price')
# plt.ylabel('User Score')
# plt.legend()
# plt.show()

# # Regression plot
# sns.regplot(x=X_test, y=y_test, scatter_kws={'alpha': 0.3}, label='Actual')
# sns.regplot(x=X_test, y=y_pred, scatter_kws={'alpha': 0}, line_kws={'color': 'red'}, label='Regression Line')
# plt.title('Regression Plot for Actual vs Predicted User Scores by Price')
# plt.xlabel('Price')
# plt.ylabel('User Score')
# plt.legend()
# plt.show()

# 7. Categorization Impact on Popularity
- *Theory*: Owner estimates of games tend to be higher for those with more categories and genres.
- *Analysis*: Look at the connection between estimated owners and the number of categories/genres.

In [35]:
with engine.connect() as connection:
    # Query to extract relevant columns
    txt = '''SELECT 
                game.appid, 
                game.estimated_owners, 
                categorization.categories, 
                categorization.genres
            FROM game
            JOIN categorization ON game.appid = categorization.appid;'''
    query = text(txt)
    result = connection.execute(query)
    category_df = pd.DataFrame(result.all())

category_df

,appid,estimated_owners,categories,genres
0,10,15000000.0,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
1,20,7500000.0,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
2,30,7500000.0,"Multi-player,Valve Anti-Cheat enabled",Action
3,40,7500000.0,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
4,50,7500000.0,"Single-player,Multi-player,Valve Anti-Cheat en...",Action
...,...,...,...,...
85098,2760980,0.0,unknown,unknown
85099,2761170,0.0,unknown,unknown
85100,2763480,0.0,unknown,unknown
85101,2764930,0.0,unknown,unknown
85102,2765800,0.0,unknown,unknown

In [36]:
# # Download NLTK stopwords data
# nltk.download('stopwords')

# Columns to convert to lists
columns_to_convert = [ 'categories', 'genres']

# Fill NaN values with an empty string
category_df[columns_to_convert] = category_df[columns_to_convert].fillna('')

# Normalize numerical features using StandardScaler
numerical_columns = category_df.select_dtypes(include=['float64', 'int64']).columns.difference(['appid'])
scaler = StandardScaler()
category_df[numerical_columns] = scaler.fit_transform(category_df[numerical_columns])

# One-hot encode categorical features
categorical_columns = category_df.select_dtypes(include=['bool']).columns.difference(['appid'])
category_df = pd.get_dummies(category_df, columns=categorical_columns, drop_first=True)

# # Use CountVectorizer to convert text columns to bag-of-words representation
# count_vectorizer = CountVectorizer(stop_words=stopwords.words('english'))  # Use English stopwords
# for column in columns_to_convert:
#     column_bow = count_vectorizer.fit_transform(category_df[column])
#     category_df = pd.concat([category_df, pd.DataFrame(column_bow.toarray(), columns=count_vectorizer.get_feature_names_out([column]))], axis=1)

category_df

,appid,estimated_owners,categories,genres
0,10,14.511447,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
1,20,7.213937,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
2,30,7.213937,"Multi-player,Valve Anti-Cheat enabled",Action
3,40,7.213937,"Multi-player,PvP,Online PvP,Shared/Split Scree...",Action
4,50,7.213937,"Single-player,Multi-player,Valve Anti-Cheat en...",Action
...,...,...,...,...
85098,2760980,-0.083573,unknown,unknown
85099,2761170,-0.083573,unknown,unknown
85100,2763480,-0.083573,unknown,unknown
85101,2764930,-0.083573,unknown,unknown
85102,2765800,-0.083573,unknown,unknown

In [37]:
# Initialize PyCaret setup
reg_setup = setup(
    data=category_df,
    target='estimated_owners',
    train_size=0.8,
    session_id=42,
    numeric_features=[],  # Specify numeric features if needed
    categorical_features=['categories', 'genres'],  # Specify categorical features
    ignore_features=['appid'],  # Specify features to ignore
    fold=5,  # Specify the number of folds for cross-validation
    # normalize=True,
    # transformation=True,
    # transform_target=True
)

# Compare different regression models
reg_models = compare_models()

In [38]:
# Create a Huber Regressor model
huber_model = create_model('huber')

# Evaluate the Huber Regressor model
evaluate_model(huber_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦