# Import the libraries that are necesaries

In [1]:
import pandas as pd
import getpass  # To get the password without showing the input
from sqlalchemy import create_engine

## Get the necesary information to connect to mysql
 ** important note remmember the password that you use for mysql**

In [2]:
# Specify your MySQL database connection details
password = getpass.getpass()
user = 'root'
database_name = 'steam_games'
connection_string = f'mysql+pymysql://{user}:' + password + '@localhost/' + database_name

### Read the CSVs

In [3]:
game_df = pd.read_csv('../data/clean/game.csv')
languages_df = pd.read_csv('../data/clean/languages.csv')
platform_df = pd.read_csv('../data/clean/platform.csv')
metacritic_df = pd.read_csv('../data/clean/metacritic.csv')
user_feedback_df = pd.read_csv('../data/clean/user_feedback.csv')
playtime_df = pd.read_csv('../data/clean/playtime.csv')
development_df = pd.read_csv('../data/clean/development.csv')
categorization_df = pd.read_csv('../data/clean/categorization.csv')
media_df = pd.read_csv('../data/clean/media.csv')

# Import the data of all datasets

In [4]:
# Create the MySQL engine
engine = create_engine(connection_string)

# List of categorical columns to truncate
categorical_columns = ['about_the_game', 'reviews', 'header_image', 'website', 'support_url', 'support_email']

# Truncate text in each categorical column
for col in categorical_columns:
    game_df[col] = game_df[col].str[:1000]

# Specify the table name in your database
table_name = 'game'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
game_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [5]:
# Create the MySQL engine
engine = create_engine(connection_string)

# List of categorical columns to truncate
categorical_columns = ['supported_languages', 'full_audio_languages']

# Truncate text in each categorical column
for col in categorical_columns:
    languages_df[col] = languages_df[col].str[:1000]

# Specify the table name in your database
table_name = 'languages'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
languages_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [6]:
# Create the MySQL engine
engine = create_engine(connection_string)

# Specify the table name in your database
table_name = 'platform'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
platform_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [7]:
# Create the MySQL engine
engine = create_engine(connection_string)

# Specify the table name in your database
table_name = 'metacritic'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
metacritic_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [8]:
# Create the MySQL engine
engine = create_engine(connection_string)

# Specify the table name in your database
table_name = 'user_feedback'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
user_feedback_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [9]:
# Create the MySQL engine
engine = create_engine(connection_string)

# Specify the table name in your database
table_name = 'playtime'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
playtime_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [10]:
# Create the MySQL engine
engine = create_engine(connection_string)

# List of categorical columns to truncate
categorical_columns = ['developers', 'publishers']

# Truncate text in each categorical column
for col in categorical_columns:
    development_df[col] = development_df[col].str[:1000]

# Specify the table name in your database
table_name = 'development'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
development_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [11]:
# Create the MySQL engine
engine = create_engine(connection_string)

# List of categorical columns to truncate
categorical_columns = ['categories', 'genres', 'tags']

# Truncate text in each categorical column
for col in categorical_columns:
    categorization_df[col] = categorization_df[col].str[:1000]

# Specify the table name in your database
table_name = 'categorization'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
categorization_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103

In [12]:
# Create the MySQL engine
engine = create_engine(connection_string)

# List of categorical columns to truncate
categorical_columns = ['screenshots', 'movies']

# Truncate text in each categorical column
for col in categorical_columns:
    media_df[col] = media_df[col].str[:1000]

# Specify the table name in your database
table_name = 'media'

# Insert data into the MySQL table using SQLAlchemy `to_sql()` method
media_df.to_sql(table_name, con=engine, if_exists='append', index=False)

85103